{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-1">
            <form method='post' action='/'>
                {{ form.hidden_tag() }}
                <p>Ticker symbol: <input type='text' name='ticker' placeholder='GOOG' value="" required/></p>
                <p>Year: <input type='number' name='year' placeholder='2018' value="" style="width: 90px;" required/> Month: <input type='number' name='month' placeholder='1' value="" style="width: 80px;" required/></p>
                <p>
                    <input type="checkbox" name='line1' value='Close' />Closing price<br>
                    <input type="checkbox" name='line2' value='Adj. Close' />Adjusted closing price<br>
                    <input type="checkbox" name='line3' value='Open' />Opening price<br>
                    <input type="checkbox" name='line4' value='Adj. Open' />Adjusted opening price<br>
                </p>
                <p><input class="btn btn-primary" type="submit" value="Submit"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}

